.arrival-list {
    padding: 20px 40px;
    margin-top: 40px;
  }
  .arrival-list h2{
    margin-bottom: 30px;
  }
  
  .arrival-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .center {
    grid-column: span 3;
    display: flex;
    justify-content: center;
  }
  